<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/thecakestory">The Cake Story</a></li>
	        		<li><a href="/datascience">Data Science</a></li>
				<li><a href="/code">Code</a></li>
              			<li><a href="/inequalityinsights">Inequality Insights</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:britta.rude@gmx.net">email</a></li>
	        		<li><a href="https://github.com/BrittaRude">github.com/BrittaRude</a></li>
				 <div class="newsletter-container">
               			<!-- <p class="newsletter-text"></p> -->
                		<form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=MorningDev', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                    		<p class="newsletter-text">Get new posts to your inbox</p>
		                <input type="hidden" value="Inequality Website" name="uri" />
		                <input type="hidden" name="loc" value="en_US" />
			        <input class="newsletter-email" type="text" name="email" placeholder="name@example.com" />
                                <input class="newsletter-submit" type="submit" value="Subscribe" />
                                </form>
  				</div>
				</ul>
			</footer>
		</body>

	</html>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


